<div style="display: block;">
    <div class="ellipsisTextOverflow" style="text-align: left; display: table-row;vertical-align: top; width: 100%;">
        <div style="display: table-cell; vertical-align: top; width: 50%">
            <ti-switch ti-model="component._state.on"
                       ti-change="panel.callDeviceService(component, 'power')"></ti-switch>
        </div>
        <div style="display: table-cell; vertical-align: top; width: 50%">
            <select ng-model="component._state.input"
                    ng-change="panel.callDeviceService(component, 'changeInput', {input: component._state.input} )"
                    ng-options="input.id as input.displayName for input in component._state.availableInputs">
            </select>
        </div>
    </div>
    <div style="clear: both; padding-top: 1.0em;">
        <table style="width: 100%;">
            <tr style="vertical-align: middle;">
                <td style="width: 99%">
                    <input ti-slider=""
                           ti-model="component._state.volume" ti-min="-80" ti-max="0"
                           ti-change="panel.callDeviceService(component, 'changeVolume', {level: component._state.volume} )">

                </td>
                <td style="width: 2em; text-align: center;"><a ng-show="component._state.muted"
                                                               ng-click="panel.callDeviceService(component, 'mute')"><i
                        class="fa fa-volume-off"></i></a>
                    <a ng-hide="component._state.muted" ng-click="panel.callDeviceService(component, 'mute')"><i
                            class="fa fa-volume-up"></i></a>
                </td>
            </tr>
        </table>
    </div>
</div>
