<div style="width: 100%; display: table;">
    <div style="display: table-cell; text-align: center;">
        <table style="width: 100%; margin-left: 20px; margin-right: 20px;">
            <tr>
                <td colspan="2" style="text-align: center;">{{component._configuration.name}} at {{component._configuration.host}}</td>
            </tr>
            <tr>
                <td style="width: 85%">
                    <input ti-slider=""
                           ti-model="component._state.volume" ti-min="0" ti-max="100"
                           ti-change="panel.callDeviceService(component, 'changeVolume', {level: component._state.volume} )">

                </td>
                <td style="width: 15%; text-align: center;"><a ng-show="component._state.muted"
                                                               ng-click="panel.callDeviceService(component, 'mute')"><i
                        class="fa fa-volume-off"></i></a>
                    <a ng-hide="component._state.muted" ng-click="panel.callDeviceService(component, 'mute')"><i
                            class="fa fa-volume-up"></i></a></td>
            </tr>
        </table>
    </div>
</div>
